<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mobro)/config
          -configuration_basename turtlebot3_lds_2d_gazebo_loc.lua
          -load_state_filename $(find mobro)/bag/house.bag.pbstream"
      output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
</launch>
